.lesson-header{
    
    .affix-top{ opacity: 0;}
    .affix{ opacity: 1; }
    #lesson-navbar{
        background: $darkGray;
        z-index: 1;
        width: 100%;
        top: 0;
        .active a{ text-transform: capitalize;  max-width: 300px;}
        .navbar-nav {
          display: inline-block;
          float: none;
          vertical-align: top;
          li{min-width: 130px; display: table-cell;
            vertical-align: middle;
            float: none !important;
          }
          li.active{background: #62a8ea;}
        }
        
        .container {
          text-align: center;
        }
        
    }
}

.lesson-introduction{
    border-bottom: 1px solid black;
    padding-bottom: 30vh;
    margin-top: -90px;
    padding-top: 30vh;
    color: white;
    h1,h2,h3,h4{color: white};
}
.lesson-navegation{
    background: $darkGray;
    text-align: center;
    .nav.nav-pills{
        display: inline-table;
        //width: 280px;
        li{min-width: 130px; text-align: center;}
        a{color: white; font-size: 16px;}
        a:hover, a:active{background: $darkGray;}
    }
}

/* Header */
#large-header {
	background: #333;
	background-size: cover;
	background-position: center center;
}
#demo-canvas{
    position: absolute;
    width: 100%;
    top: -70px;
}