pre.code-preview{
    position: relative;
}

.browserChecker{
    i{font-size: 60px;}
    .browserChecker-close{margin-top: 20px;}
}

.bcnotification{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 15;
    
    .inner-message {
        margin: 0 auto;
    }
    .single-notification.about-to-close{
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }
}

.confirmation-modal.modal{
    background: none;
    .modal-body{
        text-align: center;
        height: inherit;
        width: inherit;
        font-size: 20px;
    }
    .modal-footer{
        border-top: none;
        text-align: center;
    }
}

.thumbs-rating-container{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
        text-align: center;
    .thumbs-rating-up,.thumbs-rating-down{
        border-radius: 10px;
    }
    .thumbs-rating-already-voted{
        color: #c84848;
        font-weight: 900;
    }
}